@import 'fonts';
@import 'vars';
@import 'global';


//start of header
.header__inner {
    background-color: $bg;
}

.top__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-btn {
    background-color: $blue;
    padding: 11px 19px 12px 18px;
    border-radius: 18px;
    margin-right: 50px;
    height: 36px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all .5s;
}

.header__top-icons {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    text-align: center;
    align-items: center;
}

.header__top-icons a {
    font-size: 20px;
    color: $grey;
    display: inline-block;
}

.icon-box+.icon-box {
    margin-left: 33px;
}

.icon-box {
    position: relative;
}

.numbers-box {
    position: absolute;
    padding: 4px 6px;
    background-color: red;
    font-size: 14px;
    font-weight: 500;
    border-radius: 14px;
    color: #fff;
}

.notifications-number {
    top: -18px;
    left: 7px;
    background-color: #ff6a6c;
}

.messages-number {
    top: -20px;
    left: 13px;
    background-color: #62d03b;
    padding: 4px 8px;
}

.purchases-number {
    top: -18px;
    left: 13px;
    background-color: $blue;
    padding: 4px 8px;
}

.lnr.lnr-envelope {
    margin-top: -5px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    background-color: #7c7979;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__info {
    padding-left: 22px;
    line-height: 22px;

    a {
        color: $text;
        font-weight: 500;
    }
}

.user-price {
    color: $blue;
}

.header__nav {
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    ul {
        transform: translate(0%, 0%);

        li {
            display: inline-block;
        }

        li+li {
            margin-left: 15px;
        }

        a {
            position: relative;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
            color: $text;
            transition: 0.5s;
            overflow: hidden;
            display: block;
            padding: 10px 10px;
            border-radius: 10px;
        }

        a::before {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            left: -100%;
            width: 100%;
            height: 4px;
            background: #2196f3;
            transition: 0.5s;
        }

        a:hover {
            color: #fff;
        }

        a:hover::before {
            animation: animate .5s linear forwards;
        }

        @keyframes animate {
            0% {
                top: calc(50% - 2px);
                left: -100%;
                height: 4px;
                z-index: 1;
            }

            50% {
                top: calc(50% - 2px);
                left: 0;
                height: 4px;
                z-index: 1;
            }

            100% {
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
            }
        }
    }
}

.bottom__header-search-form {
    position: relative;

    input {
        padding: 16px 90px 18px 24px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        width: 360px;
        outline: none;
        font-size: 15px;
        height: 46px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px 27px;
        border-radius: 23px;
        background-color: $blue;
        cursor: pointer;
        outline: none;
        border: none;

        .lnr.lnr-magnifier {
            color: #fff;
        }
    }
}

//end of header

//start of section create your product
.create__your__product {
    background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    padding: 180px 0px 230px;
    text-align: center;

    &__title {
        font-size: 60px;
        color: #f3f3f8;
        line-height: 70px;
        margin-bottom: 31px;

        span {
            font-weight: 700;
            display: block;
        }
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        color: #f3f3f8;
        margin-bottom: 68px;
    }
}

.create__your__product__buttons {
    button {
        padding: 19px 31px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        border-radius: 27.5px;
        margin-right: 30px;
        cursor: pointer;
        outline: none;
    }

    button:hover {
        background-color: #fff;
        color: $blue;
        transition: all 1s;
    }
}

.search__products {

    &__inner {
        position: relative;
    }

    &__form {
        padding: 40px 40px;
        width: 1140px;
        background-color: #fff;
        position: absolute;
        top: -70px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

        input {
            width: 808px;
            padding: 20px 20px 20px 28px;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
            outline: none;
            height: 55px;

            &::-webkit-input-placeholder {
                color: #676767;
            }

            :-moz-placeholder {
                color: #676767;
            }

            :-ms-input-placeholder {
                color: #676767;
            }
        }

        select {
            position: absolute;
            top: 40px;
            left: 629px;
            color: #555555;
            border: none;
            outline: none;
            -webkit-appearance: none;
            background: url(../images/icons/lnr-chevron-down.svg) no-repeat right;
            background-position-x: 180px;
            background-position-y: 23px;
            width: 220px;
            border-left: 1px solid #dcdcdc;
            padding-left: 20px;
            height: 55px;
        }

        button {
            align-items: center;
            padding: 0px 68px;
            height: 55px;
            border: none;
            background-color: $blue;
            border-radius: 4px;
            color: #fff;
            margin-left: 23px;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background-color: transparent;
                color: $blue;
                border: 2px solid $blue;
                padding: 0px 66px;
            }
        }
    }
}

.lnr.lnr-chevron-down {
    left: 815px;
    top: 65px;
    font-size: 12px;
    color: #676767;
    cursor: pointer;
}

.search__products_backside {
    height: 135px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    position: absolute;
}

.search__products_backside.first {
    width: 1110px;
    top: -83px;
    left: 15px;
}

.search__products_backside.second {
    width: 1080px;
    top: -96px;
    left: 30px;
}

//end of section create your product

//start of section our__services
.our__services__inner {
    padding: 185px 0px 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.our__services__item {
    max-width: 360px;
    width: 100%;
    min-height: 405px;
    padding-top: 45px;
    transition: all .5s;

    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        cursor: pointer;
    }

    &-title {
        font-size: 24px;
        color: #000000;
        margin-top: 37px;
        margin-bottom: 20px;
    }

    &-text {
        line-height: 30px;
        color: #555555;
        max-width: 330px;
        width: 100%;
        padding-left: 35px;
    }

    .table-img {
        margin-top: -7px;
    }
}

//end of section our__services

//start of section featured products
.featured__products {
    background-color: #eff1f5;

    &-slider {
        padding-top: 120px;
        padding-bottom: 125px;
    }
}

.common-panel {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;

    &-text {
        padding: 0px 31px;
        font-size: 30px;
        color: #000;
    }
}

.featured__products-panel-button {
    width: 110px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $purple;
    margin-right: 30px;
}

.slick-arrow {
    position: absolute;
    border: none;
    outline: none;
    background-color: #fff;
    background: none;
    cursor: pointer;
    height: 50px;
    width: 50px;

    &.slick-prev {
        top: -79px;
        right: 87px;
    }

    &.slick-next {
        top: -79px;
        right: 32px;
    }
}

.featured__products-slider__item {
    overflow: hidden;
    border-radius: 4px;
    width: 1140px;
    display: flex;
    margin-top: 50px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);

    &-photo {
        background-color: #4e5760;
        max-width: 555px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.featured__products__slide {
    padding: 50px 60px 0px 50px;
    max-width: 585px;
    width: 100%;
    background-color: #fff;

    &-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
    }

    &-descr {
        margin-top: 17px;
        margin-bottom: 35px;
    }

    &-dev-info {
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    &-dev-photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $purple;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-dev-name {
        color: #000;
        margin-left: 9px;
        margin-right: 21px;
    }

    &-text {
        line-height: 30px;
        color: #555555;
        margin-bottom: 35px;
    }
}

.dev-icon {
    margin-right: 10px;
}

.dev-cms {
    color: $purple;
}

.featured__products__meta-marks {
    display: flex;
    border-bottom: 1px solid #ececec;
    padding-bottom: 43px;
}

.featured__products__meta-box {
    a {
        background-color: #f1f3f6;
        border-radius: 14px;
        color: #868c96;
        font-size: 14px;
        padding: 5px 14px 5px 17px;
    }

    &+.featured__products__meta-box {
        margin-left: 7px;
    }
}

.featured__products__rate-box {
    display: flex;
    align-items: center;
    height: 75px;
}

.featured__products__item-price {
    margin-right: 20px;

    a {
        background-color: $blue;
        color: #fff;
        padding: 7px 19px;
        border-radius: 16px;
        font-size: 15px;
        font-weight: 500;
    }
}

.featured__products__likes-number {
    a {
        color: #8f6ccd;
        font-size: 15px;
        margin-right: 6px;
    }

    span {
        font-size: 15px;
        color: #555555;
        margin-right: 20px;
    }
}

.featured__products__buys-number {
    a {
        margin-right: 6px;
        color: $blue;
        ;
    }

    span {
        font-size: 15px;
        color: $blue;
        margin-left: -3px;
    }
}

.featured__products__stars-box {
    margin-left: auto;

    a {
        font-family: 'Material Icons';
        font-size: 17px;
        color: #ffc000;
    }
}

.featured__products-slider__item {
    display: flex !important;
}


//end of section featured products


//start of release products
.release-products {
    background-color: #f6f7fb;
    padding: 120px 0px;
}

.release-products__filter {
    display: flex;
}

.dots-button {
    margin-right: 30px;
    margin-left: 25px;
}

.release-products__nav {
    height: 92px;
    background-color: #fff;
    margin-top: 30px;
    padding: 0px 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;

    button {
        position: relative;
        font-size: 15px;
        padding: 8px 19px;
        background-color: #f1f3f6;
        border-radius: 16px;
        color: #747b86;
        cursor: pointer;
        border: none;
        outline: none;
        overflow: hidden;
    }
    button+button {
        margin-left: 10px;
    }
    button::before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: -100%;
        width: 100%;
        height: 4px;
        background: #2196f3;
        transition: 0.5s;
    }

    button:hover {
        color: #fff;
        transition: all 1s;
        background-color: $blue;
    }

    button:hover::before {
        animation: animate .5s linear forwards;

    }

    @keyframes animate {
        0% {
            top: calc(50% - 2px);
            left: -100%;
            height: 4px;
            z-index: 1;
        }

        50% {
            top: calc(50% - 2px);
            left: 0;
            height: 4px;
            z-index: 1;
        }

        100% {
            top: 0;
            left: 0;
            height: 100%;
            z-index: -1;
        }
    }
}
.category-btn.active{
    background-color: $blue;
    color: #fff;
}
.release-products__inner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.release-products__box {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 360px;
    margin-bottom: 30px;
    min-height: 530px;
    border-radius: 4px;

    &-photo {
        background-color: #3c6490;
        width: 360px;
        height: 230px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        display: block;
        border-radius: 4px;
    }
}

.release-products-content {
    padding-left: 30px;
    padding-right: 10px;

    &__title {
        font-size: 20px;
        color: #000;
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &__text {
        color: #555555;
        line-height: 30px;
        max-width: 340px;
        padding: 25px 0px;
    }
}
.dev-photo{
    width: 28px;
    height: 28px;
    background-color: $purple;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.products-dev-name{
    margin-left: 8px;
    margin-right: 20px;
    font-size: 15px;
    color: #000;
}
.release-products__dev-info{
    display: flex;
    align-items: center;
}
.border-line {
    border-bottom: 1px solid #ececec;
    margin-left: -30px;
    width: 360px;
}

.release-products-rate {
    display: flex;
    align-items: center;
    height: 60px;
}

.release-products-price {
    background-color: #e6f1fd;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 15px;

    a {
        padding: 0px 17px;
        color: $blue;
        font-weight: 500;
        line-height: 30px;
    }
}

.release-products-likes {
    font-size: 15px;

    a {
        color: #8f6ccd;
    }

    span {
        color: #555555;
    }
}

.release-products-buys {
    font-size: 15px;
    margin-left: 140px;

    a {
        color: $blue;
    }

    span {
        color: $blue;
    }
}

.all-products-btn {
    background-color: $blue;
    color: #fff;
    border-radius: 27.5px;
    border: none;
    outline: none;
    padding: 19px 33px;
    cursor: pointer;
    margin-top: 30px;
}
.select2-selection__rendered{
    display: none;
}
.release-products_all-btn{
    text-align: center;
}
 
//end of release products






// .all-products-btn {
//     background-color: $btn-bg;
//     color: #fff;
//     border-radius: 27.5px;
//     border: none;
//     outline: none;
//     padding: 21px 33px;
//     margin-top: 30px;
//     margin-left: 475px;
//     cursor: pointer;
// }

// .folowers {
//     background-color: #eff1f5;
//     padding: 120px 0px;
// }

// .folowers-slider-inner {
//     display: flex;
//     justify-content: space-between;
//     padding-top: 50px;
// }

// .release-products-box.slide {
//     width: 360px !important;
//     margin-left: 5px;

// }

// .slider-nav-button.folowers {
//     background-color: $btn-bg;
//     padding: 0px;
// }

// .sales-info {
//     background-color: #212225;
//     &-inner {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         min-height: 350px;
//     }
// }
// .sales-info-item{
//     text-align: center;
//     &-img{
//         font-size: 48px;
//         margin-bottom: 50px;
//     }
//     &-number{
//         font-size: 36px;
//         margin-bottom: 25px;
//     }
//     &-text{
//         font-size: 18px;
//         color: #fff;
//     }
// }
// .sales-info-item.case{
//     color: #feb71d;
// }
// .sales-info-item.cloud{
//     color: #58c9e9;
// }
// .sales-info-item.smile{
//     color: #77de51;
// }
// .sales-info-item.users{
//     color: #ff6a6d;
// }