@import 'fonts';
@import 'vars';
@import 'global';


//start of header
.header {
    background-color: $bg;

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        background-color: $blue;
        padding: 9px 17px 10px 16px;
        border-radius: 18px;
        margin-right: 50px;
        border: 2px solid $blue;
        height: 36px;
        font-size: 14px;
        color: #fff;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        transition: all .7s;

        &:hover {
            background-color: transparent;
            color: $blue;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        text-align: center;
        align-items: center;

        a {
            font-size: 20px;
            color: $grey;
            display: inline-block;
        }
    }

    &__user-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon-box {
        position: relative;

    }

    &__icon-box+&__icon-box {
        margin-left: 33px;
    }

    &__numbers-box {
        position: absolute;
        padding: 4px 6px;
        background-color: red;
        font-size: 14px;
        font-weight: 500;
        border-radius: 14px;
        color: #fff;

        &.-notifications-number {
            top: -18px;
            left: 7px;
            background-color: #ff6a6c;
        }

        &.-messages-number {
            top: -20px;
            left: 13px;
            background-color: #62d03b;
            padding: 4px 8px;
        }

        &.-purchases-number {
            top: -18px;
            left: 13px;
            background-color: $blue;
            padding: 4px 8px;
        }
    }

    &__user-avatar {
        width: 50px;
        height: 50px;
        background-color: #7c7979;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__user-info {
        padding-left: 22px;
        line-height: 22px;

    }

    &__user-name {
        color: $text;
        font-weight: 500;
    }

    &__user-price {
        color: $blue;
    }

    &__bottom-inner {
        background-color: #fff;
    }

    &__nav {
        height: 80px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        transform: translate(0%, 0%);

    }

    &__list-item {
        display: inline-block;
    }

    &__list-item+&__list-item {
        margin-left: 15px;
    }

    &__menu-link {
        position: relative;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        color: $text;
        transition: 0.5s;
        overflow: hidden;
        display: block;
        padding: 10px 10px;
        border-radius: 10px;

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            left: -100%;
            width: 100%;
            height: 4px;
            background: #2196f3;
            transition: 0.5s;
        }

        &:hover {
            color: #fff;
        }

        &:hover::before {
            animation: animate .5s linear forwards;
        }

        &:first-child {
            margin-left: -10px;
        }

        @keyframes animate {
            0% {
                top: calc(50% - 2px);
                left: -100%;
                height: 4px;
                z-index: 1;
            }

            50% {
                top: calc(50% - 2px);
                left: 0;
                height: 4px;
                z-index: 1;
            }

            100% {
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
            }
        }
    }

    &__search-form {
        position: relative;
    }
}

.search-form__input {
    padding: 16px 90px 18px 24px;
    border-radius: 23px;
    border: 1px solid #d9dfe5;
    width: 360px;
    outline: none;
    font-size: 15px;
    height: 46px;
}

.search-form__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 27px;
    border-radius: 23px;
    background-color: $blue;
    cursor: pointer;
    outline: none;
    border: none;
}


.lnr-envelope {
    margin-top: -5px;
}

.lnr-magnifier {
    color: #fff;
    cursor: pointer;
}

// .notification-icon {
//     position: relative;
//     height: 90px;
//     margin-top: 65px;

//     &:hover {
//         .notification__menu {
//             height: auto;
//             border-width: 1px;
//             padding: 0px 25px;
//             overflow: auto;
//         }
//     }
// }

// .notification__menu {
//     border-top: 0px solid $blue;
//     box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
//     top: 62px;
//     left: -22px;
//     position: absolute;
//     height: 0;
//     overflow: hidden;
//     transition: all .5s;
//     z-index: 1;
//     width: 370px;
//     background-color: #fff;

//     &-head {
//         display: flex;
//         justify-content: space-between;
//         height: 66px;
//         align-items: center;
//     }

//     &-title {
//         font-size: 18px;
//         color: #000000;
//     }

//     a {
//         color: $blue;
//         font-size: 15px;
//     }

//     &__box {
//         display: flex;
//         padding: 20px 0px;
//         border-top: 1px solid #e8ebf0;
//     }

//     &__textbox {
//         padding: 0px 10px 0px 15px;
//         text-align: start;
//         width: 250px;
//     }

//     &__box__img {
//         width: 40px;
//         height: 40px;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center;
//     }

//     &__box-username {
//         color: #747a86;
//         font-size: 15px;

//         span {
//             color: #333333;
//             font-weight: 500;
//             font-size: 16px;
//         }
//     }

//     &__box-template {
//         color: $blue;
//         font-size: 15px;
//     }

//     &__box-date {
//         color: #747a86;
//         font-size: 14px;
//     }

//     &__box-icon {
//         width: 32px;
//         height: 32px;
//         background-color: #e8ebf0;
//         border-radius: 50%;
//         margin-top: 13px;
//         position: relative;
//         cursor: pointer;

//         &.comments {
//             background-color: #f1ecf9;

//             &::before {
//                 content: "\e83f";
//                 color: #7347c1;
//             }
//         }

//         &.purchased {
//             background-color: #fff0f0;

//             &::before {
//                 content: "\e82e";
//                 color: #ff6a6c;
//             }
//         }

//         &.rewiev {
//             background-color: #effaeb;

//             &::before {
//                 content: "\e814";
//                 color: #62d03a;
//             }
//         }

//         &::before {
//             content: "\e813";
//             font-family: 'LinearIcons';
//             font-size: 15px;
//             color: $blue;
//             position: absolute;
//             left: 50%;
//             top: 50%;
//             transform: translate(-50%, -50%);
//         }
//     }
// }


//end of header

//start of section create your product
.create-product {
    background-image: linear-gradient(-90deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    padding: 185px 0px 235px;
    text-align: center;

    &__title {
        font-size: 60px;
        color: #f3f3f8;
        line-height: 70px;
        margin-bottom: 35px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

        span {
            font-weight: 700;
            display: block;
        }
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        color: #f3f3f8;
        margin-bottom: 90px;
    }

    &__buttons {
        a {
            padding: 17px 31px;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            border-radius: 27.5px;
            margin-right: 30px;
            cursor: pointer;
            outline: none;
            font-family: 'Quicksand', sans-serif;
        }

        a:hover {
            background-color: #fff;
            color: $blue;
            transition: all 1s;
        }
    }
}

//end of section create your product

.search-products {

    &__inner {
        position: relative;
    }

    &__form {
        padding: 40px 40px;
        width: 1140px;
        background-color: #fff;
        position: absolute;
        top: -70px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        font-family: 'Quicksand', sans-serif;

    }

    &__select {
        position: absolute;
        top: 40px;
        left: 629px;
        color: #555555;
        border: none;
        outline: none;
        -webkit-appearance: none;
        background: url(../images/icons/lnr-chevron-down.svg) no-repeat right;
        background-position-x: 180px;
        background-position-y: 23px;
        width: 220px;
        border-left: 1px solid #dcdcdc;
        padding-left: 20px;
        height: 55px;
    }

    &__btn {
        align-items: center;
        padding: 0px 68px;
        height: 55px;
        border: none;
        background-color: $blue;
        border-radius: 4px;
        color: #fff;
        margin-left: 23px;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background-color: transparent;
            color: $blue;
            border: 2px solid $blue;
            padding: 0px 66px;
        }
    }

    &__input {
        width: 808px;
        padding: 20px 20px 20px 28px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        outline: none;
        height: 55px;

        &::placeholder {
            color: #676767;
        }
    }

    &__backside {
        height: 135px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        position: absolute;
        
        &.-first{
            width: 1110px;
            top: -83px;
            left: 15px;
        }
        &.-second{
            width: 1080px;
            top: -96px;
            left: 30px;
        }
    }
}

.lnr.lnr-chevron-down {
    left: 815px;
    top: 65px;
    font-size: 12px;
    color: #676767;
    cursor: pointer;
}


//end of section create your product

//start of section our__services
.our-services {
    &__inner {
        padding: 185px 0px 120px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        max-width: 360px;
        width: 100%;
        min-height: 405px;
        padding-top: 45px;
        transition: all .5s;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            cursor: pointer;
        }
    }

    &__item-title {
        font-size: 24px;
        color: #000000;
        margin-top: 37px;
        margin-bottom: 20px;
    }

    &__item-text {
        line-height: 30px;
        color: #555555;
        max-width: 330px;
        width: 100%;
        padding-left: 35px;
    }
}

.table-img {
    margin-top: -7px;
}

//end of section our__services

//start of section featured products 
.featured-products {
    background-color: #eff1f5;

    &__slider {
        padding-top: 120px;
        padding-bottom: 125px;
    }

    &__panel-button {
        background-color: $purple;
    }

    &__slider-item {
        overflow: hidden;
        border-radius: 4px;
        width: 1140px;
        display: flex !important;
        margin-top: 50px;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    }

    &__slider-photo {
        background-color: #4e5760;
        max-width: 555px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__slide {
        padding: 50px 60px 0px 50px;
        max-width: 585px;
        width: 100%;
        background-color: #fff;

        &-title {
            font-size: 24px;
            font-weight: 500;
            color: #000;
        }

        &-descr {
            margin-top: 17px;
            margin-bottom: 35px;
        }

        &-dev-info {
            display: flex;
            align-items: center;
            font-size: 15px;
        }

        &-dev-photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $purple;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-dev-name {
            color: #000;
            margin-left: 9px;
            margin-right: 21px;
        }

        &__text {
            line-height: 30px;
            color: #555555;
            margin-bottom: 35px;
        }
    }

    &__dev-icon {
        margin-right: 10px;
    }

    &__dev-cms {
        color: $purple;
    }

    &__meta-marks {
        display: flex;
        border-bottom: 1px solid #ececec;
        padding-bottom: 43px;
    }

    &__meta-box {
        &+& {
            margin-left: 7px;
        }

        &__link {
            background-color: #f1f3f6;
            border-radius: 14px;
            color: #868c96;
            font-size: 14px;
            padding: 5px 14px 5px 17px;
        }
    }

    &__rate-box {
        display: flex;
        align-items: center;
        height: 75px;
    }

    &__item-price {
        margin-right: 20px;

        a {
            background-color: $blue;
            color: #fff;
            padding: 7px 19px;
            border-radius: 16px;
            font-size: 15px;
            font-weight: 500;
        }
    }

    &__likes-number {
        a {
            color: #8f6ccd;
            font-size: 15px;
            margin-right: 6px;
        }

        span {
            font-size: 15px;
            color: #555555;
            margin-right: 20px;
        }
    }

    &__buys-number {
        a {
            margin-right: 6px;
            color: $blue;
            ;
        }

        span {
            font-size: 15px;
            color: $blue;
            margin-left: -3px;
        }
    }

    &__stars-box {
        margin-left: auto;

        a {
            font-family: 'Material Icons';
            font-size: 17px;
            color: #ffc000;
        }
    }
}

.slick-arrow {
    position: absolute;
    border: none;
    outline: none;
    background-color: #fff;
    background: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0;

    &.slick-prev {
        top: -79px;
        right: 84px;
    }

    &.slick-next {
        top: -79px;
        right: 34px;
    }
}

.products-panel {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.panel-text {
    padding: 0px 31px 0px;
    font-size: 30px;
    color: #000;
}

.panel-button {
    width: 110px;
    height: 45px;
    border-radius: 22.5px;
    margin-right: 30px;
}

//end of section featured products


//start of release products
.release-products {
    background-color: #f6f7fb;
    padding: 120px 0px;

    &__filter {
        display: flex;
        align-items: center;

        &-text {
            color: #747b86;
            font-size: 16px;
        }
    }

    &__nav {
        height: 92px;
        background-color: #fff;
        margin-top: 30px;
        padding: 0px 30px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        display: flex;
        align-items: center;

        button {
            position: relative;
            font-size: 15px;
            padding: 8px 19px;
            background-color: #f1f3f6;
            border-radius: 16px;
            color: #747b86;
            cursor: pointer;
            border: none;
            outline: none;
            overflow: hidden;
        }

        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
            outline: none;
        }

        button+button {
            margin-left: 10px;
        }

        button::before {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            left: -100%;
            width: 100%;
            height: 4px;
            background: #2196f3;
            transition: 0.5s;
        }

        button:hover {
            color: #fff;
            transition: all 1s;
            background-color: $blue;
        }

        button:hover::before {
            animation: animate .5s linear forwards;

        }

        @keyframes animate {
            0% {
                top: calc(50% - 2px);
                left: -100%;
                height: 4px;
                z-index: 1;
            }

            50% {
                top: calc(50% - 2px);
                left: 0;
                height: 4px;
                z-index: 1;
            }

            100% {
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
            }
        }
    }

    &__inner {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__box {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        max-width: 360px;
        margin-bottom: 30px;
        min-height: 530px;
        border-radius: 4px;
        background-color: #fff;

        &-photo {
            background-color: #3c6490;
            width: 360px;
            height: 230px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            display: block;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            position: relative;

            &:hover {
                .photo-hover {
                    background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }
        }
    }


    &__content {
        border-bottom: 1px solid #ececec;

        &-title {
            font-size: 20px;
            color: #000;
            font-weight: 500;
            padding-top: 30px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 10px;
        }

        &-text {
            color: #555555;
            line-height: 30px;
            max-width: 340px;
            padding: 25px 0px;
            padding-left: 30px;
            padding-right: 15px;
        }
    }

    &__dev-info {
        display: flex;
        align-items: center;
    }

    &__dev-photo {
        width: 28px;
        height: 28px;
        background-color: $purple;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin-left: 30px;
        padding-right: 10px;
    }

    &__dev-name {
        margin-left: 8px;
        margin-right: 20px;
        font-size: 15px;
        color: #000;
    }

    &__dev-icon {
        margin-right: 10px;
    }

    &__dev-cms {
        color: #7347c1;
    }

    &__rate {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 30px;
    }

    &__price {
        background-color: #e6f1fd;
        border-radius: 15px;
        margin-right: 15px;
        padding: 7px 12px 7px 12px;

        a {
            color: $blue;
            font-weight: 500;
            font-size: 15px;
        }
    }

    &__likes {
        font-size: 15px;
        display: flex;
        align-items: center;

        a {
            color: #8f6ccd;
            margin-right: 6px;
        }

        span {
            color: #555555;
            margin-right: 12px;
        }
    }

    &__buys {
        font-size: 15px;
        margin-left: auto;
        display: flex;

        a {
            color: $blue;
            margin-left: 14px;
            margin-right: 8px;
        }

        span {
            color: $blue;
            margin-left: auto;
        }
    }

    &__all-btn {
        text-align: center;
    }

    &__stars-box {
        margin-left: 0px;
        font-family: 'Material Icons';
        font-size: 15px;
        color: #ffc000;
    }
}

.photo-hover {
    background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    position: absolute;
    left: 0;
    top: -230px;
    width: 100%;
    height: 0;
    display: none;
    padding-top: 93px;
    padding-left: 45px;

    button {
        color: #fff;
        background-color: transparent;
        padding: 13px 31px;
        border-radius: 22.5px;
        border: 1px solid #fff;
        font-size: 15px;
        font-weight: 500;
        margin-right: 3px;
        transition: all .5s;

        &:hover {
            background-color: #fff;
            color: $blue;
            cursor: pointer;
        }

    }

    button+button {
        margin-right: 0px;
        margin-left: 3px;
    }

}

.dots-button {
    margin: 5px 30px 0px 25px;
}


.category-btn.mixitup-control-active {
    background-color: $blue;
    color: #fff;
}

.all-products-btn {
    background-color: $blue;
    color: #fff;
    border-radius: 27.5px;
    border: 2px solid $blue;
    outline: none;
    padding: 17px 31px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    transition: all .7s;

    &:hover {
        background-color: transparent;
        color: $blue;
    }
}

.select2-selection__rendered {
    display: none;
}

//end of release products

//start of followers feed
.followers-feed {
    background-color: #eff1f5;
    padding: 120px 0px 90px;

    &__panel-button {
        background-color: $blue;
    }

    &__slider__inner {
        margin: 0px -18px;
        padding-top: 50px;
    }

}

.release-products__box.slide {
    margin-left: 18px;
    margin-right: 12px;
}

.slick-preve {
    top: -79px;
    right: 102px;
}

.slick-nexte {
    top: -79px;
    right: 51px;
}

//end of followers feed

//start of our achievements
.our-achievements {
    background-color: #212225;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 350px;
    }

    &__box {
        text-align: center;
        &.-case{
            color: #feb71d;
        }
        &.-cloud{
            color: #58c9e9;
        }
        &.-smile{
            color: #77de51;
        }
        &.-users{
            color: #ff6a6d;
        }
        &-icon {
            font-size: 48px;
            margin-bottom: 45px;
        }

        &-text {
            font-size: 36px;

            span {
                display: block;
                font-size: 18px;
                color: #ffffff;
                margin-top: 15px;
            }
        }
    }
}
//end of our achievements

//start of section why choose
.why-choose {
    background-color: #fff;
    padding: 120px 0px 90px;
    &__descr{
        text-align: center;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    &__box {
        height: 375px;
        width: 360px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        border-radius: 4px;

        &::after {
            content: "";
            font-weight: 300;
            position: absolute;
            font-size: 48px;
            color: rgba(92, 135, 248, 0.2);
            left: 20px;
            top: 10px;
        }
        &.-payment::after {
            content: '01';
        }
        &.-quality::after {
            content: '02';
        }
        &.-secure::after {
            content: '03';
        }
        &.-code::after {
            content: '04';
        }
        &.-leaf::after {
            content: '05';
        }
        &.-phone::after {
            content: '06';
        }
        &-img {
            font-size: 60px;
            margin-bottom: 45px;
            margin-top: 50px;
            &.-blue{
                color: $blue;
            }
            &.-purple{
                color: $purple;
            }
            &.-green{
                color: #77de51;
            }
            &.-yellow{
                color: #feb71d;
            }
            &.-aquamarine{
                color: #58c9e9;
            }
            &.-red{
                color: #ff888a;
            }
        }
        &-title {
            font-size: 24px;
            color: #000;
            margin-bottom: 24px;
        }

        &-text {
            line-height: 30px;
            color: #555555;
            padding: 0px 30px 10px;
        }

    }
}
.middle-title{
    font-size: 36px;
        color: #000;
        margin-bottom: 20px;

        span {
            color: $blue;
        }
}
.middle-text{
        color: #555555;
        line-height: 30px;
        width: 670px;
        margin: 0 auto;
}
//end of section why choose

//start of start-shop section
.start-shop {

    &__inner {
        display: flex;
    }
    &__box {
        text-align: center;
        padding: 100px 0px;
        width: 960px;
        min-height: 560px;

        &-title {
            font-size: 36px;
            color: #fff;
            margin-top: 40px;
        }

        &-text {
            color: #fff;
            line-height: 30px;
            margin: 20px auto 0px;
            width: 600px;
        }

        &-icon {
            height: 100px;
        }
    }

    &__btn {
        a {
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            border-radius: 27.5px;
            background-color: #fff;
            border: none;
            outline: none;
            margin-top: 43px;
            cursor: pointer;
            transition: all .5s;
            padding: 19px 26px;
            display: inline-block;
            min-width: 190px;
        }
    }
    .author-btn {
        color: $blue;
    
        &:hover {
            background-color: $purple;
            color: #fff;
        }
    }
    .shopping-btn {
        color: $purple;
    
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}





//end of start-shop section

//start of clients feedback section 
.clients-feedback {
    padding: 120px 0px;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__box {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 2px solid $blue;
        max-width: 555px;
        min-height: 315px;

        &-text {
            padding: 0px 40px 45px;
            line-height: 30px;
        }
    }

    &__box-user {
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;

        &__img {
            width: 80px;
            height: 80px;
            background-color: #808080;
            border-radius: 50%;
            float: left;
            margin-left: 40px;
            margin-top: 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-name {
            padding: 60px 10px 14px 24px;
            display: inline-block;

            a {
                font-size: 20px;
                color: #000;
            }
        }

        &-job {
            padding-left: 144px;

            a {
                color: #555555;
            }
        }
    }

    &__btn-box {
        text-align: center;
        margin-top: 80px;

        a {
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            border-radius: 27.5px;
            background-color: $blue;
            border: 2px solid $blue;
            padding: 16px 33px;
            outline: none;
            cursor: pointer;
            color: #fff;
            transition: all .7s;

            &:hover {
                background-color: transparent;
                border: 2px solid $blue;
                color: $blue;
            }
        }
    }
}


.lnr.lnr-bubble {
    font-size: 60px;
    color: #e8e8e8;
    position: absolute;
    top: 50px;
    right: 43px;
}

//end of clients feedback section 

//start of latest-news
.latest-news {
    background-color: #eff1f5;
    padding: 120px 0px;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__box {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        max-width: 360px;
        min-height: 475px;
        background-color: #fff;

        &-img {
            height: 230px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &-title {
            font-size: 22px;
            color: #000;
            font-weight: 500;
            padding: 25px 10px 20px 25px;
        }

        &-text {
            padding: 0px 30px 25px;
            line-height: 30px;
            color: #555555;
        }
    }

    &__icon-box {
        display: flex;
        height: 58px;
        padding: 9px 0px;
        align-items: center;
        font-size: 15px;
        color: #999999;
        position: relative;

        a {
            position: absolute;
            top: 22px;
        }
    }

    &-data {
        padding-left: 53px;
        padding-right: 47px;
        border-right: 1px solid #999999;
    }

    &-comments {
        margin: 0px 55px;
    }

    &__box-content {
        min-height: 185px;
    }
}

.news-border-line {
    border: 1px solid #ececec;
}

.lnr.lnr-clock {
    left: 30px;
    color: $blue;
}

.lnr.lnr-bubble.small {
    font-size: 15px;
    color: #999999;
    right: 130px;
    top: 22px;
}

.lnr.lnr-eye {
    right: 60px;
}

//end of latest news

//start of our-support
.our-support {
    align-items: center;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__box {
        text-align: center;
        max-width: 570px;
        width: 100%;
        border-right: 1px solid #000;
        min-height: 300px;
        padding-top: 60px;

        &+& {
            border-right: none;
        }
    }

    &__text {
        font-size: 24px;
        color: #000;
        margin-top: 25px;
        max-width: 570px;
    }

    .guarantee {
        span {
            color: $blue;
        }
    }

    .support {
        span {
            color: #7347c1;
        }
    }
}

//end of our-support

//start of join us
.join-us {
    background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
    padding: 112px 0px 110px;

    &__inner {
        text-align: center;
    }

    &__title {
        font-size: 36px;
        color: #fff;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 18px;
        color: #fff;
    }

    &__btn-box {
        a {
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            color: $blue;
            padding: 17px 41px;
            border: 2px solid #fff;
            display: inline-block;
            border-radius: 27.5px;
            margin-top: 48px;
            transition: all .7s;
            cursor: pointer;

            &:hover {
                background-color: transparent;
                color: #fff;
                border: 2px solid #fff;
            }
        }

    }
}

//end of join us

//start of footer
.footer {
    background-color: #262b30;

    &__inner-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 93px;
    }

    &__inner__box {
        &.social-box {
            width: 360px;
        }

    }

    &__logo {
        margin-top: 115px;
        margin-bottom: 24px;
    }

    &__box__text {
        width: 270px;
        font-size: 15px;
        color: #ababab;
        line-height: 28px;

        &.social-text {
            width: 100%;
        }
    }

    &__box-links {
        margin-top: 25px;
        width: 265px;
        padding-left: 29px;

        a {
            display: block;
            color: #ababab;
            margin-bottom: 18px;
            transition: all .5s;

            &:hover {
                color: #fff;
            }
        }
    }

    &__box-link.address {
        line-height: 26px;
    }

    &__box-link {
        position: relative;

        &::before {
            position: absolute;
            top: 0px;
            left: -29px;
            content: "\e830";
            width: 15px;
            height: 15px;
            color: #fff;
            font-family: 'linearicons-free';
        }

        &.mail::before {
            content: "\e818";
        }

        &.address::before {
            content: "\e833";
            top: 11px;
        }
    }

    &__menu-box__title {
        margin-top: 135px;
        margin-bottom: 30px;
        color: #ffffff;
        font-size: 18px;
    }

    &__menu__list-item {
        margin-bottom: 15px;
    }

    &__menu__list-link {
        color: #ababab;
        font-size: 15px;
        transition: all .5s;

        &:hover {
            color: #fff;
        }
    }

    &__mail__form {
        width: 100%;
        margin-top: 29px;
        position: relative;
    }

    &__form__input {
        width: 100%;
        position: relative;
        padding: 16px 30px;
        border-radius: 25px;
        outline: none;
        border: none;
        font-size: 15px;

        &::-webkit-input-placeholder {
            color: #ababab;
        }

        :-moz-placeholder {
            color: #ababab;
        }

        :-ms-input-placeholder {
            color: #ababab;
        }
    }

    &__form__button {
        position: absolute;
        padding: 16px 31px;
        background-color: $blue;
        outline: none;
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 15px;
        right: -1px;
        cursor: pointer;
    }

    &__social-icons__box {
        display: flex;
        margin-top: 53px;

    }

    &__social-icon__circle {
        width: 42px;
        height: 42px;
        position: relative;
        background-color: red;
        border-radius: 50%;

        &+& {
            margin-left: 14px;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'icomoon';
        }

        &.facebook {
            background-color: #395799;

            &::before {
                content: "\f09a";
                color: #fff;
            }
        }

        &.twitter {
            background-color: #19b2f5;

            &::before {
                content: "\f099";
                color: #fff;
            }
        }

        &.google {
            background-color: #f05b44;

            &::before {
                content: "\f1a0";
                color: #fff;
            }
        }

        &.pinterest {
            background-color: #9c0c1c;

            &::before {
                content: "\f0d2";
                color: #fff;
            }
        }

        &.linkedin {
            background-color: #0da6be;

            &::before {
                content: "\f0e1";
                color: #fff;
            }
        }

        &.dribble {
            background-color: #ea4c89;

            &::before {
                content: "\f17d";
                color: #fff;
            }
        }

    }

    &__copy {
        height: 94px;
        background-color: #192027;
        text-align: center;
        padding-top: 38px;
    }

    &__copy__text {
        color: #999999;
        font-size: 15px;

        span {
            color: #fff;
        }
    }
}

//end of footer